* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  font-family: "Times New Roman", Times, serif;
  text-rendering: optimizeLegibility;
  background-color: #f9f9f9;
  overflow-x: hidden;
}

header {
  position: relative;
  background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
    url("./img/food.jpg");
  height: 100vh;
  background-size: cover;
  background-position: set;

}

nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding: 2vw 3vw;
}

.nav-part2 {
  display: flex;
  align-items: center;
  gap: 1vw;
}

.nav-part2 h4 {
  border: 1px solid rgb(87, 87, 87);
  border-radius: 50px;
  padding: 10px;
  position: relative;
  transition: all ease 0.4s;
  overflow: hidden;
}

.nav-part2 h4::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: white;
  left: 0;
  bottom: -100%;
}

.nav-part2 h4:hover::after {
  border-radius: 50px;
  bottom: 0;
  transition: all ease 0.4s;
}

.nav-part2 h4 a {
  text-decoration: none;
  color: white;
  position: relative;
  z-index: 9;
}

.nav-part2 h4:hover a {
  color: black;
}

.hero-text-box {
  position: absolute;
  width: 1140px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.hero-text-box h1 {
  text-transform: uppercase;
  color: white;
  margin-bottom: 20px;
  font-weight: 500;
}

.btn:link,
.btn:visited {
  display: inline-block;
  padding: 10px 30px;
  text-decoration: none;
  font-weight: 500;
  border-radius: 200px;
  transition: background-color 0.3s, color 0.3s, border-color 0.3s;
}

.btn-full:link,
.btn-full:visited {
  background-color: #e67e22;
  color: white;
  border: 1px solid#e67e22;
  margin-right: 25px;
}

.btn-ghost:link,
.btn-ghost:visited {
  color: #e67e22;
  border: 1px solid #e67e22;
}

.btn:hover,
.btn:active {
  background-color: #cf6d17;
}

.btn-ghost:hover,
.btn-ghost:active {
  color: white;
  border: 1px solid #e67e22;
}

.logo {
  height: auto;
  width: 100px;

}

h2 {
  text-transform: uppercase;
  text-align: center;
  font-weight: 500;
  font-size: 40px;
  margin-bottom: 20px;
  position: relative;
  color: #333;
  margin-bottom: 50px;
}

h2::after {
  position: absolute;
  width: 200px;
  height: 4px;
  left: 50%;
  bottom: -30px;
  transform: translateX(-50%);
  background-color: #cf6d17;
  content: "";
}

.features p {
  text-align: center;
  padding: 0 2px;
  color: #666;
  font-size: 18px;
  line-height: 1.6;

}

.box {
  padding: 40px 10px;
  height: 250px;
  background-color: #f4f4f4;
  border-radius: 10px;
  box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.1);
  margin-top: 40px;

}

.box h3 {
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 20px;
  color: #333;
  font-size: 24px;
}

.box p {
  text-align: center;
  margin-top: 20px;
  padding: 0 10px;
  color: #666;
  font-size: 16px;
  line-height: 1.6;
}

.icon {
  font-size: 24px;
  margin-right: 10px;
  vertical-align: middle;
  color: #cf6d17;
}

.meals-showcase {
  list-style: none;
  width: 100%;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 0 20px;
}

.meals-showcase li {
  width: calc(25% - 20px);
  margin-bottom: 20px;
}

.meals-photo {
  width: 100%;
  margin: 0;
  overflow: hidden;
  border: 2px solid #f9f9f9;
  border-radius: 20px;
}

.meals-photo img {
  width: 100%;
  height: 200px;
  object-fit: cover;
  opacity: 0.8;
}

.meals-photo img:hover {
  transform: scale(1);
  opacity: 1;
  transition: transform 0.3s ease-in-out;
}



.section-steps {
  text-align: center;
}

.section-steps .row {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.section-steps img {
  object-fit: cover;
  object-position: center;
  height: 310px;
  width: auto;
  border-radius: 10px;
  box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.1);
  margin: 0 auto;
  margin-bottom: 20px;
}

.steps-box {
  margin: 10px 0;
}

.works-step {
  display: flex;
  align-items: center;
  margin-bottom: 30px;
}

.step-number {
  color: #e67e22;
  border: 4px solid #e67e22;
  height: 50px;
  width: 50px;
  border-radius: 50%;
  padding: 1em;
  margin-right: 10px;
  font-size: 1.3em;
  display: flex;
  justify-content: center;
  align-items: center;
}

.works-step p {
  margin-top: 0;
  color: #555;
  font-size: 1.3em;
}


.btn-app {
  margin-top: 30px;
  display: inline-block;
  margin-right: 20px;
}

.btn-app img {
  width: 150px;
  height: 50px;
  border-radius: 10px;
  object-fit: cover;
  object-position: center;
}

.section-cities .row {
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.section-cities .col {
  flex: 1;
  margin-bottom: 20px;
}

.section-cities .col img {
  width: 100%;
  height: auto;
  border-radius: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease;
}

.section-cities .col img:hover {
  transform: scale(1.05);
}

.city-feature {
  margin-top: 20px;
  display: flex;
  align-items: center;
}

.col .icon {
  margin: 0px 10px;
}

.feature-description {
  font-size: 1em;
  flex: 1;
}

.section-testimonial {
  position: relative;
  background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
    url('./img/back-customers.jpg');
  background-size: cover;
  background-position: center;
  padding: 60px 20px;
}

.section-testimonial .row {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.section-testimonial .row h2 {
  color: #fff;
}

.section-testimonial .col {
  flex-basis: calc(33.333% - 20px);
  padding: 20px;

}

.section-testimonial img {
  height: 60px;
  width: 50px;
  border-radius: 50%;
  object-fit: cover;
  object-position: top;
  border: 1px solid #fff;
  box-shadow: 0 0 10px rgba(255, 165, 0, 0.4);
}

.section-testimonial blockquote {
  text-align: center;
  font-style: italic;
  margin-bottom: 20px;
  padding-top: 30px;
  font-size: 17px;
  position: relative;
  color: white;
}

.section-testimonial blockquote:before {
  content: "\201C";
  position: absolute;
  top: -4%;
  font-size: 40px;
  color: white;
  left: 30px;
}

.section-testimonial cite {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 30px;
  padding-left: 30px;
  color: white;
}

.section-testimonial cite span {
  font-weight: bold;
}

.section-plans .col {
  display: flex;
  align-items: center;
  justify-content: center;
}

.plan-box {
  border: 2px solid #cccccc;
  border-radius: 10px;
  width: 70%;
  padding: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
  transition: transform 0.4s ease-in-out;
}

.plan-box:hover {
  transform: translateY(-7px);
}

.plan-box div:nth-last-child(2) {
  border: 0.5px solid #ccc;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  padding: 15px;
  margin-bottom: 30px;
}

.plan-box div:last-child {
  display: flex;
  align-items: center;
  justify-content: center;
}

.plan-box li {
  list-style: none;
  font-size: 18px;
  margin-bottom: 10px;
  padding: 3px;
}

.plan-box li i {
  margin-right: 13px;
}

li span {
  text-decoration: line-through;
  color: #999;
}

.plan-box h3 {
  text-transform: uppercase;
  font-size: 22px;
  text-align: center;
  font-weight: 600;
  margin-bottom: 15px;
}

.plan-box p {
  text-align: center;
  font-size: 18px;
  margin-bottom: 20px;
}

.plan-price {
  color: #e67e22;
  font-size: 24px;
}

.btn-sign {
  background-color: #e67e22;
  color: white;
  border: 1px solid#e67e22;
  padding: 5px 12px;
  text-decoration: none;
  font-size: 18px;
  border: none;
  border-radius: 5px;
  transition: all 0.3s ease;

}

.btn-sign:hover {
  box-shadow: 0px 6px 10px rgba(0, 0, 0, 0.4);
}

.features,
.section-meals,
.section-steps,
.section-cities,
.section-testimonial,
.section-plans {
  margin-top: 50px;
  margin-bottom: 50px;
}

.section-form {
  text-align: center;
}

.section-form .row {
  display: flex;
  justify-content: center;
  margin-bottom: 10px;
}

.section-form form {
  max-width: 600px;
  width: 100%;
}

.section-form .col {
  flex: 1;
}

.section-form label {
  display: block;
  text-align: left;
  margin-bottom: 10px;
  font-size: 20px;
}

.section-form input,
.section-form select,
.section-form textarea {
  width: 120%;
  padding: 10px;
  margin-bottom: 10px;
  border: none;
  outline: none;
}

.section-form input[type="checkbox"] {
  width: auto;
}


footer {
  background-color: #333;
  color: #fff;
  padding: 20px;
}

footer .row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.footer-nav {
  list-style: none;
  padding: 0;
  margin: 0;
}

.footer-nav li {
  display: inline-block;
  margin-right: 20px;
}


.footer-nav a {
  text-decoration: none;
  color: #fff;
  transition: color 0.3s;
  margin-right: 15px;
}

.footer-nav a:hover {
  color: #ffd700;
}

.social-links {
  list-style: none;
  padding: 0;
  margin: 0;
  transition: 0.3s;
  text-align: right;
}

.social-links a {
  display: inline-block;
  margin-left: 15px;
  color: white;
  text-decoration: none;
}

.social-links a:hover {
  transform: translateY(-3px);
  color: #ffd700;
}

footer p {
  margin-top: 20px;
  margin-bottom: 0;
  text-align: center;/
}